body {
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background: black;
  height: 635px;
  width: 385px;
  flex-shrink: 0;
}

.display-container {
  margin: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: green;
  border-radius: 5px;
  width: 335px;
  height: 75px;
  box-sizing: border-box;
}

.display {
  padding: 20px;
  color: white;
  font-size: 30px;
}

.misc {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0 25px;
  height: 50px;
  font-size: 20px;
}

#ac, #del {
  flex: 1;
  font-size: 20px;
}

.btns {
  display: flex;
  flex: 1;
  padding: 25px;
  justify-content: space-between;
  flex-shrink: 0;
}

.digits-container {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  width: 100%;
}

.operator-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}

.digit, .operator {
  width: 70px;
  height: 70px;
  font-size: 30px;
}

.zero-digit {
  width: calc(70px * 3 + 30px);
}
